.modal {
  position: absolute;
  width: 22rem;
  min-height: 6.25em;
  max-height: 12.5em;
  overflow-y: auto;
}
.target {
  position: absolute;
  width: 3.1em;
}
.card {
  display: flex;
  padding: 0.2em 0.5em 0;
  background-image: linear-gradient(#ff9f00 50%, #57211d);
  border: 0.2em solid #000;
}
.card:hover {
  border: solid #fff;
}
.name {
  flex: 1;
  align-self: center;
  text-align: center;
}
.portrait {
  position: relative;
  width: 8.1em;
  height: 6.25em;
  overflow: hidden;
}
.headshot {
  width: 11.25em;
  position: absolute;
  left: -2.34em;
}
